# Virtual environments
.venv/
venv/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# Large/binary artifacts (uncomment to include model in repo)
*.pkl

# Environment files
.env
*.env

